<div class="method-detail-info">
    <p class="head">Onset of Effects: Instantly - 15 minutes</p>
    <p class="head">Peak Effects: 15 minutes</p>
    <p class="head">Duration of Effects: 2 - 3 hours</p>
    <p>Vaporizing allows patients to inhale cannabis without the combustion process of burning marijuana. Vaporizing
        usually provides a rapid onset of euphoria along with other therapeutic effects within 5 to 10 minutes.</p>
    <p>Vaporizers are roughly twice as effective at extracting THC than smoking cannabis. Not only is burning the plant
        an inefficient way to extract the full cannabinoid profile, but it also introduces unwanted carcinogenic smoke
        into the equation. Vaporizing, on the other hand, heats the cannabinoids to their boiling point, which
        dehydrates the plant and releases the entire cannabinoid profile in a non-carcinogenic vapor. The vapor is
        considered so soothing that even asthma patients find relief with this consumption method.</p><br/>
    <table>
        <thead>
        <tr>
            <th>Pros</th>
            <th>Cons</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <ul>
                    <li>Easier on the throat and lungs than inhalers and smoked cannabis</li>
                    <li>Vaporizing is more efficient at releasing the full cannabinoid profile compared to smoking.</li>
                    <li>Rapid relief</li>
                    <li>More upbeat effects than ingested cannabis</li>
                    <li>Only consumption method where cannabis is the sole ingredient involved.</li>
                    <li>Non-carcinogenic.</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>More apt to cause insomnia than ingested cannabis</li>
                    <li>Psychotropic effects may not be practical for some patients.</li>
                    <li>Patients who require sustained relief will need to re-medicate every 2-3 hours</li>
                    <li>Low-quality vaporizers can sometimes release harmful chemicals when heated (burning plastic)
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
