<p id="text" style="width: 80%; max-height: 517.6px;">
    <div class="method-detail-info">
        <p class="head">Onset of Effects: 15 minutes - 1 hour</p>
        <p class="head">Peak Effects: N/A</p>
        <p class="head">Duration of Effects: 4 - 6 hours</p>
<p>Cannabis-infused, fat-soluble substances, such as lotions and balms, have become a wildly popular alternative to consuming cannabis. By binding to CB2 receptors found throughout the skin, cannabis topicals are able to locally relieve pain and inflammation.
</p>
<p>Patients suffering from eczema, psoriasis, burns, pain, headaches, skin irritation, soreness, arthritis, and inflammation find properly recommended cannabis topicals to be highly effective. Sometimes, it is also recommended that patients apply the area with a bandage to improve the absorption and therapeutic effectiveness if the desired effects have not been reached.
</p>
<p>THC-infused topicals help improve the anti-inflammatory properties of CBD-based topicals, but patients should be aware that topicals containing THC can produce powerful psychoactive effects. Besides binding to the CB2 receptors found throughout the skin, cannabis topicals can also directly enter the bloodstream by penetrating all three layers of the skin, which then gets carried throughout the entire body by the circulatory system. This means that although it may take a few days of regularly applying topical-based medications to feel maximum relief, patients will still feel effects almost immediately after use.
</p>

<br/>
<table>
    <thead>
    <tr>
        <th>Pros</th>
        <th>Cons</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <ul>
                <li>Non-carcinogenic</li>
                <li>Perfect for patients who want fast-acting, localized relief</li>
                <li>CBD-based creams are suitable for patients who do not want psychoactive effects</li>
                <li>Easy to use</li>
                <li>No odor</li>
                <li>Direct-to-bloodstream delivery provides full-body relief</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Easy to over-medicate with THC-based topicals </li>
                <li>Potency of topicals can be inaccurate</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</div>
</p>


