<div class="canabinoid-detail-info" >
  <p>
    <strong>Tetrahydrocannabinol (THC)</strong>  is the most well-known cannabis-derived cannabinoid, because it is what produces marijuana’s psychoactive effects.
    Despite a growing contingent of people who want to stray away from medicating with high THC strains, THC has the potential to effectively treat a host of different ailments on its own.</p>
  <p>For patients who suffer from anxiety, depression, PTSD, or any other mood related disorder, THC has proven itself time and time again to be an effective anti-depressant. THC also enables nauseous and sick patients to regain their appetite. Even patients who suffer from cancer and debilitating pain have seen effective results medicating with THC - which is especially important considering the potential for addiction when medicating with pharmaceutical alternatives.</p>
  <p>The medicinal applications for THC are undeniable, and as a result, pharmaceutical companies are now creating synthetic versions of THC to treat patients who suffer from these aforementioned conditions. However, there are two main drawbacks that prevent synthetic THC from being a more viable solution than cannabis. The first issue is the fact that it is possible for patients to overdose when medicating with synthetic THC. The other problem is that synthetic THC fails to take advantage of the synergistic effect that comes with combining multiple cannabinoids into a single form of treatment. For those reasons, cannabis is still considered to be in a class of its own in regards to its therapeutic potential. </p>
  <p style="margin: 0;">Medicinal Overview</p>
  <ul>
    <li>Psychoactive</li>
    <li>Reduces stress &amp; depression</li>
    <li>Appetite stimulant</li>
    <li>Dulls pain</li>
    <li>Neuroprotectant</li>
    <li>Minimizes Inflammation</li>
  </ul>
</div>
