<div style="width:282px; height: 282px; margin: auto auto; position: relative; pointer-events: all;"  ng-mouseover="hoverStrain(true)" ng-mouseleave="hoverStrain(false)">

  <!-- BADGE -->
  <div class="bigknob-badge" ng-class="::{hover:matter.hover}" ng-style="{color:matter.hover?'white':matter.type_color, borderColor:matter.type_color, backgroundColor:matter.hover?matter.type_color:'transparent'}">
    {{::matter.type_id}}
  </div>

  <!-- CENTER ng-class="::{greywhitebottom:!matter.selected}"-->
  <div ng-click="showDetails()" class="clickable" style="position: absolute;border-radius: 50%;margin-left: 24px;margin-top: 24px;width: 238px;height: 238px; overflow: hidden">

    <div ng-if="::centerImage">
      <img style="width: 238px;height: 238px;" ng-cache ng-src="{{::(baseUrl+'/strains/'+matter.id+'/image')}}" alt=""/>
      <div class=""
           ng-class="{'background-gray':true}"
           style="position: absolute; top:0px;width:100%; height:70px;"
           ng-style="::{'backgroundColor':matter.selected?matter.type_color:''}">
        <div class="text-center"
             ng-style="::{color:matter.selected?'white':'#5B5C5E', 'color':matter.type_color}"
             style="width: 100px;line-height: 1;text-align: center;margin-left: auto;margin-right: auto;margin-top: 25px;font-weight: 900;font-size: 16px;">{{::matter.name}}</div>
      </div>
    </div>
  </div>
  <div style=" top:0;  z-index: -1; background-image: url('img/strain_bg_svg2.png');background-size: 252px 254px;width: 252px;height: 252px;opacity: 0.99;position: absolute;margin: 17px;" ></div>
</div>
